## Pattern Problems
Most of the patterns contains nested loops  
outer loop for number of rows  
inner loop for number of columns  
4 rules to follow while solving pattern problem  
- for the outer loop count the number of lines  
- for the inner loop focus on the number of columns and connect them somehow to the rows  
- print the symbol inside the inner loop
- Observer symmetry
### Problem 1
```python
* * * *
* * * *
* * * *
* * * *
```
outer -> inner  
0 -> 4 stars  
1 -> 4  
2 -> 4  
3 -> 4

In [2]:
n = 4
for i in range(n):
    for j in range(n):
        print("* ",end="")
    print()

* * * *
* * * *
* * * *
* * * *

### Problem 2
```python
*
* *
* * *
* * * *
```
1 -> 1 star  
2 -> 2 stars  
3 -> 3  
4 -> 4

In [3]:
for i in range(1,n+1):
    for j in range(i):
        print("* ",end="")
    print()

*
* *
* * *
* * * *

### Problem 3
```python
1
1 2
1 2 3
1 2 3 4
```
1 -> 1  
2 -> 1 2  
3 -> 1 2 3  
4 -> 1 2 3 4

In [5]:
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j," ",end="")
    print()

1
1  2
1  2  3
1  2  3  4

### Problem 4
```python
1 
2 2
3 3 3
4 4 4 4
```
1 -> 1 (row number)  
2 -> 2 2  
3 -> 3 3 3  
4 -> 4 4 4 4

In [6]:
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i," ",end="")
    print()

1
2  2
3  3  3
4  4  4  4

### Problem 5
```python
* * * *
* * *
* *
*
```
1 -> 4 stars n-row+1  
2 -> 3 n-2+1  
3 -> 2 n-3+1  
4 -> 1 n-4+1

In [7]:
for i in range(1,n+1):
    for j in range(n-i+1):
        print("* ",end="")
    print()

* * * *
* * *
* *
*

### Problem 6
```python
1 2 3 4
1 2 3
1 2
1
```

In [5]:
n = 4
for i in range(1,n+1):
    for j in range(1,n-i+2):
        print(j," ",end="")
    print()

1  2  3  4
1  2  3
1  2
1

### Problem 7
```python
      * 
    * * *
  * * * * *
* * * * * * *
```
Total columns are n*2 - 1 = 7  
each row have [space, stars, space]  
0 -> [3,1,3]  
1 -> [2,3,2]  
2 -> [1,5,1]  
3 -> [0,7,0]  
[n-row-1, 2xrow+1, n-row-1]

In [11]:
for i in range(n):
    for j in range(n-i-1):
        print("  ",end="")
    for k in range(2*i+1):
        print("* ",end="")
    for l in range(n-i-1):
        print("  ",end="")
    print()

      *
    * * *
  * * * * *
* * * * * * *

### Problem 8
```python
* * * * * * *
  * * * * *
    * * *
      *
```
0 -> [0,7,0]  
1 -> [1,5,1]  
2 -> [2,3,2]  
3 -> [3,4,3]  
[i,2xn-2xi-1,i]

In [12]:
for i in range(n):
    for j in range(i):
        print("  ",end="")
    for k in range(2*n-2*i-1):
        print("* ",end="")
    for l in range(i):
        print("  ",end="")
    print()

* * * * * * *
  * * * * *
    * * *
      *

### Problem 9
```python
      *
    * * *
  * * * * *
* * * * * * *
* * * * * * *
  * * * * *
    * * *
      *
```
This looks symmetrical and combination of problem 8 and 7

In [13]:
for i in range(n):
    for j in range(n-i-1):
        print("  ",end="")
    for k in range(2*i+1):
        print("* ",end="")
    for l in range(n-i-1):
        print("  ",end="")
    print()

for i in range(n):
    for j in range(i):
        print("  ",end="")
    for k in range(2*n-2*i-1):
        print("* ",end="")
    for l in range(i):
        print("  ",end="")
    print()

      *
    * * *
  * * * * *
* * * * * * *
* * * * * * *
  * * * * *
    * * *
      *

### Problem 10
```python
*
* *
* * *
* * * *
* * *
* *
*
```
Combination problem 5 and 2 but lower half will have row less than above

In [20]:
for i in range(n):
    for j in range(i):
        print("* ",end="")
    print()

for i in range(n):
    for j in range(n-i):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * *
* *
*

### Problem 11
```python
1
0 1
1 0 1
0 1 0 1
```
1 -> 1 (num = 1)   
2 -> 0 1 (flip) 1-1 or 1-num    
3 -> 1 0 1  
4 -> 0 1 0 1

In [ ]:
num = 1
for i in range(1,n+1):
    if i%2 != 0:
        num = 1
    else:
        num = 0
    for j in range(i):
        print(num," ",end="")
        num = 1 - num # flip
    print()

1
0  1
1  0  1
0  1  0  1

### Problem 12
```python
1             1
1 2         2 1
1 2 3     3 2 1
1 2 3 4 4 3 2 1
```
[numbers, space, numbers]  
1 -> [1,6,1]  
2 -> [2,4,2]  
3 -> [3,2,3]  
4 -> [4,0,4]  
[j,(2xn-2xrow),j]

In [57]:
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j," ",end="")
    for k in range((2*n - 2*i)):
        print("   ",end="")
    for j in range(i,0,-1):
        print(j," ",end="")
    print()

1                    1
1  2              2  1
1  2  3        3  2  1
1  2  3  4  4  3  2  1